* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 15vw 85vw;
}

.header {
    grid-column: 1 / span 2;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slategray;
}

.sidebar {
    background-color: lightsteelblue;
    /* min-height: 85vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.home {
    padding-left: 20px;
}

.projects {
    padding-left: 20px;
}

ul {
    padding: 0px;
    list-style-type: none;
}

li {
    padding-top: 5px;
}

.content {
    min-height: 85vh;
    background-color: lightgray;
}

.new-task {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 200px;
    font-size: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.new-project {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.form {
    height: 100px;
    width: 100px;
    background-color: red;
}